minimum_pre_commit_version: "4.4.0"
default_language_version:
  python: python3.13
fail_fast: false
files: ^src/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        name: ruff (lint)
        args: ["--fix"]
      - id: ruff-format
        name: ruff (format)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy (type checking)
        args:
          [
            "--strict",
            "--ignore-missing-imports",
            "--show-error-codes",
            "--python-version=3.13",
            "src/",
          ]
